body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
    display: flex;
    flex-direction: column;
}

#root {
    height: 100%;
    width: 100%;
    position: relative; /* Establish a positioning context for children */
}
